/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

@import "vars";
@import "reset";
@import "responsive";
@import "button1";
@import "button2";
@import "button3";
@import "button4";

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
 
 
}



